<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stranger Things without spoilers</title>
</head>
<body>
    <article>
        <h1 th:text="${page.title}">Stranger Things</h1>
        <section th:each="section : ${page.htmlSections}" th:utext="${section}">
            <p>Stranger Things is an American science fiction horror drama television series
                created by the Duffer Brothers that is streaming on <b>Netflix</b>.</p>
            <p>The brothers serve as showrunners and are executive producers along with
                Shawn Levy and Dan Cohen.
                The first season of the series was released on Netflix on July 15, 2016.</p>
        </section>
        <section th:remove="all">
            <p>Second, third, and fourth seasons followed in October 2017, July 2019, and May and July 2022, respectively.</p>
        </section>
    </article>
    <form action="/bookmark" method="post" th:object="${bookmarkCommand}">
        <select name="bookmark"
                th:field="*{episodeNumber}"
                onchange="this.form.submit()">
            <option value="0">-</option>
            <option th:each="episode : ${episodes}"
                    th:text="${episode.title}"
                    th:value="${episode.orderingNumber}">
                Naslov epizode
            </option>
        </select>
    </form>
    <nav>
        <ul>
            <li th:each="article : ${articles}">
                <a th:href="${'/a/' + article.reference}"
                   th:text="${article.title}">
                    Naziv članka
                </a>
            </li>
        </ul>
    </nav>
    <a href="/a">Create New Article</a>
</body>
</html>