.background {
    background-image: url(../assets/background.jpeg);
    background-size: cover;
}

.nav-size{
    width: 400px;
    height: 100vh
}

@font-face {
    font-family: "StrangerThingsFont";
    src: url("../assets/BenguiatBold.ttf");
}

.strange-font{
    font-family: "StrangerThingsFont";
}

.logo-size{
    width:70%;
}

.main-gap{
    gap:64px;
}

.full-size{
    height: 100vh;
    width: 100vw;
}

textarea {
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    padding: 10px;
}